@model IEnumerable<ChaseRacer.Models.Leg>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LegId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LegDistance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LegNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LegId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LegDistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LegNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.LegId  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.LegId  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.LegId  })
            </td>
        </tr>
}
    </tbody>
</table>
